<div class="row">
  <div id="lookup-order-form" class="col-md" style="margin-bottom:30px;"></div>
  <div id="create-order-button" class="col-md-auto"></div>
</div>
<div class="row">
  <div id="pending-orders-list"></div>
</div>
