<div class="row">
  <div id="lookup-order-form" class="col-md"></div>
  <div id="create-order-button" class="col-md-auto mt-3"></div>
</div>
<div class="row">
  <div id="pending-orders-list" class="col mt-3"></div>
</div>
