<div class="alert alert-info alert-dismissible fade show">
  <%= text %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <i class="fa fa-close" aria-hidden="true"></i>
  </button>
</div>
